
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */

}
body {
    font-family: 'chalkduster',fantasy,'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-image: url("../images/music.jpg");
}
p {
    font-size: 15px;
}
p.small {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    color: #18BC9C;
}


h2 {
    text-align: center;

}
body {
    padding-top: 1em;
}
.media-body a {
    float: left;
    margin-right: 15px;
    margin-bottom: 2px
}
.profile_image {
    float: left;
}
img {
    margin-right: 1em;
}
.border {
    border: 1px solid #dddddd;
}
h3 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 0.25em;
}
.main_content,
.social_media {
    background-color: white;
    margin-bottom: 2em;
}
.navbar-fixed-bottom {
    background-color: grey;
    border-top: 0.5em solid teal;
}
.navbar-default .navbar-text {
    color: black;
}
.with-margin {
    margin-bottom: 1em;
}
.caption {
    width: 100%;
    bottom: .8rem;
    position: absolute;
}
.navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.caption h4 {
    color: #fff;
}
.thumbnail .caption {
    padding: 0.1em;
}
/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    
    margin: 0 auto -1em;
}
/* Set the fixed height of the footer here */

#push,
#footer {
    height: 1em;
}
#footer {
    background-color: #f5f5f5;
}
/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 768px) {
    .navbar-custom {
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
}

li {

float: left;
  margin:  0 1em 1em 0.3em;
  list-style: none;
  width: 2.5em;
  height: 2em;
  padding-left: 0.5em;
  background: grey;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #fff;
  background-image: url("../images/nature.jpg");
}
.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
}
#reset {
  padding: 0.5em 1em;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 2em;
}
#reset:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#imgDisplayPic {

    
    margin-bottom: 2em;
    visibility: hidden;

}
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
#displayCustomerGuess {
    background: grey;
    border-radius: 0.5em;
    background-image: url("../images/stones.jpg");
    
}
#reset {
    background-image: url("../images/nature.jpg");
}

#displayResults {

}